#center_content {
    width: 95%;
}

.search_box {
    width: 150px;
    font-size: 1.1em !important;
}

.multiple {
    height: 100px;
    font-size: 0.9em !important;
}

.notice, .notice a {
    font-size: 1.1em !important;
}

.group {
    margin-left: 5px;
}


.group a {
    border-left: none !important;
    border-top: none !important;
    color: #4B4B4B;
    display: inline !important;
    font-size: 120%;
    height: auto !important;
    line-height: 1.7em;
    margin: 0;
    min-height: 1.7em;
    padding: 0 !important;
}

img.arrow {
  background: url('../arrows.gif') no-repeat scroll 0 0;
  width: 16px;
  height: 18px;
}

img.arrow.arrow-normal {
  background-position: 0 0;
}


img.arrow.arrow-normal:hover {
  background-position: -32px 0;
}

img.arrow.arrow-down {
  background-position: -16px 0;
}

img.arrow.arrow-down:hover {
  background-position: -48px 0;
}

.search-results-table {
  border-collapse: collapse !important;
  border: 1px solid #9CBAD6 !important;
  width: 100%;
}

.search-results-table th {
  font-size: 12px;
  text-align: left !important;
  background-color: #9CBAD6;
}

.search-results-table th a {
    color: #FFFFFF;
}

.search-results-table th img{
  vertical-align: middle;
}

.search-results-table tr.parent {
  border-top: 1px solid #BFBFBF !important;
}

.search-results-table tr td {
  padding: 5px !important;
  vertical-align: middle !important;
  border: none !important;
}

.search-results-table tr td:last-child {
  border: none !important;
}

.search-results-table tr:hover {
  background-color: #F0F5FB;
}

span.record_details {
  display: block;
  color: #000000;
  min-width: 300px;
}

span.record_details .translation{
    background-color: #
}

#frmSearch hr {
  background-color: #BACEE7;
  border: none;
  color: #BACEE7;
}

#ctlChangeLanguage {
    color: #346D9F !important;
    text-decoration: underline;
}

/* CSS Tooltip */
.tooltip2 {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
	font-size: 1em !important;

}
.tooltip2 span {
	margin-left: -999em;
	position: absolute;
}
.tooltip2:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 300px;
}
.tooltip2:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip2:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; font-weight: normal; font-size: 1.1em !important; line-height: 1.2em !important;}
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
